<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js"></script>
  <script src="src/invoice.js"></script>
  <script src="src/index.js"></script>
</head>

<body>
  <div class="container" ng-controller="InvoiceEditorCtrl">
    <div class="row my-4">
      <div class="col">
        <h3>Faktura nr 12/09/2021</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Sprzedawca</h4>
        <dl>
          <dt>Nazwa</dt>
          <dd>AdamPol</dd>
          <dt>Adres</dt>
          <dd>Plastusiowa</dd>
          <dt>NIP</dt>
          <dd>23904832423</dd>
        </dl>
      </div>
      <div class="col" ng-controller="ClientLookupCtrl">
        <h4>Nabywca</h4>
        <dl>
          <dt>Nazwa</dt>
          <dd style="position: relative;">
            
            <input placeholder="Szukaj klienta" ng-model="query"
             ng-change="search()" />
            
            <div style="position: absolute; left:0; top:100%;"
            class="bg-white w-100 p-4 border" ng-show="results.length">
                <p ng-repeat="klient in results"
                  ng-click="select(klient)">
                  {{klient.name}}
                </p>
            </div>
          </dd>
          <dt>Adres</dt>
          <dd> <input  /></dd>
          <dt>NIP</dt>
          <dd><input  /></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <td>Poz.</td>
              <td style="width:30%">Produkt</td>
              <td>Netto</td>
              <td>VAT</td>
              <td>Brutto</td>
              <td style="width:100px">Akcja</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="position in invoice.positions">
              <td>1.</td>
              <td><input type="text" ng-model="position.name"></td>
              <td><input type="text" ng-model="position.netto"></td>
              <td><input type="text" ng-model="position.tax"></td>
              <td><input type="text" ng-model="position.brutto"></td>
              <td>
                <button class="btn btn-success" ng-click="removePosition($index)">-</button>
                <button class="btn btn-danger" ng-click="addPosition($index)">+</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td colspan="1">Razem:</td>
              <td colspan="1"><input ng-model="invoice.summary.total"></input></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</body>

</html>