<div class="row" ng-controller="TasksCtrl">
    <div class="col">
      <!-- .list-group>.list-group-item*3{$.Task $$} -->
      <div class="list-group">
        <!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" ng-model="searchValue" ng-change="search()" type="text"
              placeholder="Search">
          </div>
        </form>
        <div class="list-group-item" ng-repeat="t in filteredTasks" ng-class="t.id === selectedTask.id ? 'active' : '' "
          ng-click="selected(t)">
          <span>{{$index+1}}.{{t.name}}</span>
          <button class="btn btn-danger float-right" ng-click="deleteTask($index)">Remove </button>
        </div>
      </div>
      <div class="form form-group">
        <label for="">
          <span> Suma elementów: {{sumValue}}</span>
          <input type="text" class="form_control" ng-model="fastTaskName"
            ng-on-keyup="$event.key == 'Enter' && addTask(fastTaskName)">
        </label>
      </div>
    </div>
    <div class="col">
      <div ng-show="mode === 'show'">
        <dl>
          <dt>Name:</dt>
          <dd>{{selectedTask.name}}</dd>

          <dt>Completed</dt>
          <dd>{{selectedTask.completed ? "Tak" : "Nie"}}</dd>
          <button class="btn btn-info" ng-click=edit()>Edit</button>
        </dl>
      </div>
      <form ng-show="mode === 'edit'" class="">
        <div class="formgroup mb-3">
          <label for="task_name"></label>
          <input type="text" id="task_name" class="form-control" ng-model="selectedTask.name">
        </div>
        <div class="formgroup mb-3">
          <label for="task_completed">Completed</label>
          <input type="checkbox" id="task_completed" class="checkbox" ng-model="taskCopy.completed">
        </div>
        <button class="btn btn-success" ng-click="save()">Dodaj</button>
        <button class="btn btn-danger" ng-click="delete()">Reset</button>
      </form>
    </div>
  </div>