<div class="container" ng-controller="UsersPageCtrl">
    <div class="row">
      <div class="col-5">
        <h4>Users List</h4>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="user in users" ng-click=selected(user) ng-class="user.id === selectedUser.id ? 'active' : '' ">
              {{$index+1}} : {{user.username}}
            
            </div>
            <button class="btn btn-info" ng-click="editUser(user)">Edit</button>
        </div>
      </div>
      <div class="col-5" ng-hide="userEditSection">
        <h4>Selected user details</h4>
        <h5>User Display Section</h5>
        <dl>
          <dt>{{selectedUser.id}}</dt>
          <dd>{{selectedUser.username}}</dd>
        </dl>
  
      </div>
      <div class="col-5" ng-show="userEditSection">
        <h4>Selected user details</h4>
        <h5>User Edition Section</h5>
        <dl>
          <dt>Test</dt>
          <dd>{{selectedUser.username}}</dd>
        </dl>
  
      </div>
    </div>
  </div>