<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.js" defer></script>
  <script src="src/tasks/tasks.js" defer></script>
  <script src="src/user/user.js" defer></script>
  <script src="src/user/user_settings.js" defer></script>
  <script src="src/index.js" defer></script>
</head>

<body ng-controller="AppCtrl">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item" ng-click="displayTaskPage()" >
            <a class="nav-link" href="#">Tasks</a>
          </li>
          <li class="nav-item" ng-click="displayUserPage()" >
            <a class="nav-link" href="">Users</a>
          </li>
          <li class="nav-item" ng-click="displayUserSettingsPage()" >
            <a class="nav-link" href="">User Settings</a>
          </li> -->
          
          <!-- zmiany -->
          `<li class="nav-item"  >
            <a class="nav-link" ui-sref="users">Tasks</a>
          </li>
          <li class="nav-item"  >
            <a class="nav-link" ui-sref="tasks">Users</a>
          </li>
          <li class="nav-item"  >
            <a class="nav-link" ui-sref="settings">User Settings</a>
          </li>`



        </ul>
        <div class="ms-auto navbar-text">
          <span>Welcome {{ user.name }}</span>
          <span ng-click="login()" ng-hide="isLoggedIn">Login</span>
          <span ng-click="logout()" ng-show="isLoggedIn">Logout</span>
          <input type="text" ng-model="user.name">
        </div>
      </div>
    </div>
  </nav>
  <!-- ................. -->

  <div class="container">
    <h1>Angular {{title}}</h1>

    <div class="row">

      <div class="col">

      </div>

    </div>
  </div>

  <!-- section Tasks -->
  <!-- <div ng-include=" './views/task_template.html' " ng-if="taskPage"></div> -->

  <!--  User Section -->
  <!-- <div ng-include=" './views/user_template.html' " ng-if="userPage"></div> -->

  <!-- User Settings Section -->
  <!-- <div ng-include=" './views/user_settings_template.html' " ></div> -->

  <ui-view></ui-view>
  <ui-config></ui-config>
 
</body>

</html>