<div class="container">

  <tasks-page></tasks-page>


<<<<<<< HEAD:damian/directives2/views/tasks-view2.tpl.html
      <div class="my-4">
        total: {{counts.total}}
        completed: {{counts.completed}}
      </div>

      <div class="form-group mt-3">
        <label for="">Fast Task</label>
        <input type="text" class="form-control" ng-model="fastTaskName" placeholder="Type name and press Enter"
          ng-on-keyup="$event.key == 'Enter' && addTask(fastTaskName)">
      </div>


    </div>
    <div class="col">

      <div ng-if="mode === 'show' ">
        <dl>
          <dt>Name:</dt>
          <dd>{{selectedTask.name}}</dd>

          <dt>Completed:</dt>
          <!-- <dd>{{selectedTask.completed? 'Yes':'No'}}</dd> -->
          <dd>{{selectedTask.completed | yesno | uppercase }}</dd>

          <button class="btn btn-info" ng-click="edit()">Edit</button>
        </dl>
      </div>

      <form ng-if="mode === 'edit'">
        <!-- .form-group>label{Name}+input.form-control -->

        <!-- <input type="text" ng-model="$parent.placki" > -->

        <div class="form-group mb-3">
          <label for="task_name">Name</label>
          <input id="task_name" type="text" class="form-control" ng-model="draft.name">
        </div>

        <div class="form-group mb-3">
          <label for="task_completed">
            <input id="task_completed" ng-model="draft.completed" type="checkbox"> Completed</label>
        </div>

        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
      </form>
    </div>
  </div>
=======
</div>
>>>>>>> 742845955fe2af138ea87ad806ef41e563d27c9f:trener/views/tasks-view.tpl.html
