<!DOCTYPE html>
<html lang="en" ng-app="settings">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directives</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <script src="node_modules/angular/angular.js" defer></script>
    <script src="src/tasks.js" defer></script>
</head>
<body>

    <div class="container" ng-controller="SettingsCtrl">
        <h3>Settings</h3>
        <input type="text" ng-model="zmienna">
        <!-- on-dismis is compilating to funciotn -->
        <app-alert message="Ala ma kota" type="info" on-dismiss="zmienna = 1"></app-alert>
        <app-alert message="Uciekł kot" type="danger" on-dismiss="zmienna = 2"></app-alert>
        <app-alert message="Kot wrócił" type="success" on-dismiss="zmienna = 3"></app-alert>
        <task-page></task-page>
    </div>

</body>
</html>


